#ignore the backgrounds directory
backgrounds/

#ignore the working directory
untracked/

#emacs backup files
*.*~

#Don't worry about the config file, because I'll be changing it during development
config.conf

#python pyc's
*.pyc
